<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
    <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/auth.css') }}"> -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/auth.css') }}">
</head>

<body>
    <div>
        Listo:
        <a href="/index">Home</a>
        <a href="/login">Login</a>
    </div>
    <div class="login">
        <div class="form" id="shadow">
            <div class="quickboard">quickboard</div>
            <form action="" method="post" class="register-form" novalidate>
                <!-- {{ form.hidden_tag() }} -->
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}

                {{ form.password.label }}<br>
                {{ form.password(size=32) }}

                <!-- <input type="text" placeholder="Username" minlength="3" maxlength="20">
                <input type="password" placeholder="Password">
                <input type="email" placeholder="Email">
                <button type="button" class="auth-button" id="shadow">Register</button> -->
                <p>{{ form.submit() }}</p>
                <p class="message">Already Resistered? <a href="#">Login</a></p>
            </form>

            <form action="" method="post" class="login-form" novalidate>
                <!-- {{ form.hidden_tag() }} -->
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </p>

                <p>{{ form.submit() }}</p>
                <!-- <input type="text" placeholder="Username" minlength="3" maxlength="20">
                <input type="password" placeholder="Password">
                <button type="button" class="auth-button" id="shadow">Login</button> -->
                <p class="message">Don't have an account? <a href="#">Register</a></p>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- <script src="{{ url_for('static',filename='js/auth.js') }}"></script> -->
</body>

</html>