<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists About People</title>
    <link rel="stylesheet" href="/templates/styles.css">
</head>

<body>

    <div>
        <h1 class="title"> Lists About People! </h1>
    </div>

    <div class="navbar">
        <a href="authentication.htm">login/register</a>
    </div>


    <div class="row">
        <div class="side">
            <h2>USERNAME</h2>
            <a target="_blank" href="user.html">
                <img src="/img/kronk.jpg" alt="thumbnail">
            </a>
            <p>LISTS IIN PROFILE</p>
        </div>
    </div>

    <div class="row">
        <div class="side">
            <h2>USERNAME</h2>
            <a target="_blank" href="user.html">
                <img src="/img/kronk.jpg" alt="thumbnail">
            </a>
            <p>LISTS IIN PROFILE</p>
        </div>
    </div>

    <div class="row">
        <div class="side">
            <h2>USERNAME</h2>
            <a target="_blank" href="user.html">
                <img src="/img/kronk.jpg" alt="thumbnail">
            </a>
            <p>LISTS IIN PROFILE</p>
        </div>
    </div>


</body>

</html>