<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/templates/styles.css">
  <title>My List</title>
</head>
<body>
  
  <div class="title">
    <h1 class="title"> Lists About Me! </h1>
  </div>

  <div class="navbar">
    <a href="home.html">home</a>
    <a href="authentication.htm">login/register</a>
  </div>
  
  <div class="flex-container">
      <div>
          <h4>about me</h4>
          <li>
              name: jose
          </li>
          <li>
              lname: alvarado
          </li>
          <li>
              fav food: pizza
          </li>
      </div>

      <div>2</div>
      <div>3</div>   
      <div>4</div>   
      <div>5</div>   
    </div>
</body>
</html>