<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}"> -->
    <!-- <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/auth.css') }}"> -->
    {% if title == "Sign In" %}
    <title>{{ title }}</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/auth.css') }}">
    {% elif title == "Register" %}
    <title>{{ title }}</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/auth.css') }}">
    {% else %}
    <title>Homepage</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    {% endif %}
</head>
<body>
    <div>
        Listo:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
</body>
</html>