{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="header">
        <span class="title">Edit List</span>
            
        <div class="header-buttons"><form>
            <button class="title-button" formaction="settings.html">settings</button>
            <button class="title-button" formaction="homepage.html">log out</button>
        </form></div> <!-- header-buttons -->
    </div> <!-- header -->

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.body.label }}<br>
            {{ form.body(cols=50, rows=4) }}<br>
            {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}