{% extends "base.html" %}

{% block content %}
{% if user == current_user %}
{% endif %}
<div class="container">
    <div class="header">
        <span class="title">{{ user.username }}</span>

        <div class="header-buttons">
            <form>
                <button class="title-button" formaction="settings.html">settings</button>
                <button class="title-button" formaction="homepage.html">log out</button>
            </form>
        </div> <!-- header-buttons -->
    </div> <!-- header -->



    {% for post in posts %}
    {% include '_post.html' %}
    {% endfor %}

    <a href="{{ url_for('new_list') }}">New List</a>



</div> <!-- container -->
{% endblock %}